@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


:root {
  --backgroud-theme: #2a2a2a;
  --color-theme: #fff;
  --color-2-theme: #000;
  --card-body-theme: #505050;
  --card-background-theme: "#000";
  --background-red-theme: #ed1d24;
}

body {
  font-family: 'Bebas Neue', cursive;

}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.scroll {
  overflow: auto;
  max-height: 100vh;
}

// :root {
//   --primary-background: #ec1d24;
// }

// .btn-primary {
//   background-color: var(--primary-background);
// }

.card,
.card img {
  border-radius: 0 !important;
}

.global-flex-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
}